#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
